/* body{font-family: 'Montserrat', sans-serif !important;} */
.bg-purple{background-color: rgb(86, 1, 134);}
.logo{width: 36px;}
.copyright-text{font-size: 10px;}
.rounded-xl{border-radius: 30px;}
.transparent-dark{background-color: #0000004f !important;}
.jumbotron-image{
    background-image: url(../img/02.png);
    height: 500px;/* You must set a specified height */
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.w-75p{width: 75%;}
.w-100p{width: 100%;}

@media (min-width:576px){
    
}
@media (min-width:768px){
    .ml-n25p,.mx-n25p{margin-left:-33%!important}
    .mt-15p,.mt-15p{margin-top: 15% !important}
    .logo{width: 60px;}
}
@media (min-width:992px){

}
@media (min-width:1200px){

}