@import "./variables";
@import "./header";
@import "./mixin";
@import "./forms";

*{
        margin: 0px auto;
        padding: 0px auto;

}
body{
        background-image: url("../../imgs/background.jpg");
        font-family: "Montserrat", sans-serif;
        
}
footer{
        border: 1px solid;
        max-width: 100%;
        height: 100px;
        background: black;
        margin-top: 20px;
}


